/*For everything*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;

}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'PT Serif', serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #5e5e5e;

}

/*Header*/

.header {
    font-family: 'Roboto', sans-serif;
}

.header_top {
    background-color: #303030;

}

.btn-header {
    float: right;

    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;

    font-size: 16px;
    line-height: 36px;
    position: relative;
}

.btn-header:before {
    content: "\f0b1";
    font-family: 'icomoon', sans-serif;
    position: absolute;
    color: #1b1b1b;
    left: 22px;
}

.header-contacts:after {
    content: "";
    clear: both;
    display: block;

}

.header-phone,
.header-email {
    color: #cbcacb;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 45px;
    position: relative;
}

.header-phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header-phone:before {
    content: "\f095";
    font-family: 'icomoon', sans-serif;
    position: absolute;
    color: #ffc222;
    left: 0;
}

.header-email {
    padding-left: 25px;
}

.header-email:before {
    content: "\f003";
    font-family: 'icomoon', sans-serif;
    position: absolute;
    color: #ffc222;
    left: 0;
}

.header_content {
    padding: 34px 0 23px;

}

.menu li {
    display: inline-block;
}

.header_content-inner {
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: all .3s linear;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li + li {
    padding-left: 10px;
}

/*Pop-up*/
#modal {
    display: none;
}

/*Slider*/

.slider {
    background-image: url("/img/slider-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

.slider-item-content {
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;

}

.slider-title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}

.slider-text {
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    margin-bottom: 50px;

}

/*Default-button--->*/

.default-btn {


    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
}

/*Default-button<---*/

.default-btn:after {
    content: "\f105";
    font-family: 'icomoon', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

.slider-inner {
    position: relative;
}

.slick-btn {
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;

    cursor: pointer;
    outline: none;
    background-color: #ffc222;

}

.slick-btn.slick-disabled {
    background-color: transparent;
    cursor: default;

}

.slick-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon', sans-serif;
    color: #ffffff;
}

.slick-disabled {

}

.slick-next:before {
    content: "\f105";
}

.slick-next {
    right: 0;

}

.slick-prev:before {
    content: "\f104";
}

.slick-prev {
    left: 0;
}

/*services*/

.services {
    padding: 50px 0 30px;
}

.services-top {
    display: flex;
    justify-content: space-between;
}

.services-top-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
    margin-bottom: 60px;

}

.services-top-box:before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    position: absolute;
    left: 0;
    top: 18px;


}

.services-title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #212020;
    margin-bottom: 10px;

}

.services-text {
    letter-spacing: .1px;
}

.services-top-btn a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-size: 14px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}
.services-items {
    display: flex;
    justify-content: space-between}

.services-item {
    max-width: 360px;
    padding: 30px 0 80px;
    text-align: center;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);}

.services-item-title {
    color: #212020;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}

.services-item-text {
    letter-spacing: 0.1px;
    padding: 0 30px 30px;
}

.services-item-btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services-item-btn .default-btn {
    color: #373636;
}

.services-item-btn .default-btn:after {
    color: #ffffff;
}

.services-item-link {
    color: #050505;
    font-family: 'Roboto', sans-serif;

    border-bottom: 1px solid #050505;
    margin-right: 60px;
}

/*about*/

.about {
    background-image: url(../img/about.jpg);
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px 0 45px;
}

.about-inner {
    max-width: 545px;
}

.about-title {
    font-size: 24px;
    line-height: 24px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px 0px 25px;
    color: #fff;
}

.about-text {
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #d3d2d2;
    font-family:'Roboto', sans-serif;
    margin-bottom: 30px;

}

.about-btn.default-btn {
    color: #000;
}